%header
  #parallax_background
    #parallax_midground
      #parallax_foreground
        .centify
          %h1 Werewolf
          #moonphases
            -# %img.large#moon_large{:src => "/images/#{current_phase}-moon.png", :style => 'z-index:3'}

.floaties
  .hr
    #flourish
      %time
        - if full_moon?
          Tonight
          %span.units{hidden} prepare&hellip;
        - else
          = days_until_full_moon
          %span.units{hidden} sleeps left

  %article
    .centify
      %p.bold
        Summoned by the lunar cycle, wolves lurk in the darkness. While we sleep, they feast on our flesh. Month after month our numbers are savaged by the Beasts. Nobody deserves the fate bequeathed by them as it is to die a thousand deaths. They don't distinguish between women or children or the sick or the strong. Enough, brothers! No more. We must act first and lynch any who we suspect of turning. The souls of the saved shall forgive our injustices
        %span.amp &amp;
        the Lord shall guide us through err. Come, join the hunt, lest you be of Beast yourself&hellip;
    
      %h2#wtf What is Werewolf?
    
      %p
        Werewolf is a party game with a psychological edge. It is all about controlling groups. Think 
        %em Lord of the Flys,
        but uh&hellip; without pigs. Really though, it's simple to pick up
        %em and
        lots of fun to play.
    
      %p
        %strong If you've never played before, don't worry, turn up anyway!
        You'll learn 
        %em very
        quickly by playing. However, for the curious visitor, here is a brief overview: the game starts with the players sitting in a circle. A moderator secretly assigns each person to either be a "werewolf" or a "villager". The game then goes in turns of "day" and "night". During the "night", only the werewolves are allowed to open their eyes and they pick villager to be killed. During "daylight" everybody opens their eyes (werewolves included) and somebody is chosen to be lynched. This is where it gets tricky as the Werewolves have to convince the others that they are infact villagers. The game keeps going until either group is dead. The
        %a{:href => 'http://en.wikipedia.org/wiki/Mafia_(party_game)'} Wikipedia article
        is a good place for further reading.
    
      #flickr
        .loading Loading photos&hellip;

      %h2
        %span In the township of
        Sydney
    
      %dl
        %dt When?
        %dd
          = next_full_moon.strftime('%A %e %B, %Y.')
          7pm until late.
        %dt Where?
        %dd
          %p
            The University of Sydney Quadrangle.
            %a{:href => 'http://maps.google.com/maps/ms?ie=UTF8&hl=en&t=h&msa=0&msid=108825360390508758359.000470b60bb75c376f0e3&ll=-33.885807,151.189835&spn=0.008657,0.018153&z=16'} map
        %dt What to Bring?
        %dd
          %p Bring your own alcohol and food. A few cases of beer will be provided. Groundsheets and warm clothes are highly reccomended.
        %dt Get Involved
        %dd
          %p
            Checkout 
            %a{:href => 'http://chrislloyd.com.au'} Chris
            on
            %a{:href => 'http://twitter.com/chrislloyd'} Twitter
            for up-to-date information regarding dates and cancellations. Feel free to ask him any questions you may have!
      
