!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    %title Werewolf
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/reset.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/screen.css'}
    
    %script{:src => '/js/jquery.js', :type => 'text/javascript'}
    %script{:src => '/js/states.js', :type => 'text/javascript'}
    %script{:src => '/js/application.js', :type => 'text/javascript'}
    - if options.environment == :development
      %script{:src => '/js/grid.js', :type => 'text/javascript'}
      :javascript
        $(document).ready(function(){ $('.centify').grid(); });
      
  %body
    = yield
    
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    
    :javascript
      try {
        var pageTracker = _gat._getTracker("UA-256176-11");
        pageTracker._trackPageview();
      } catch(err) {}
