%header
  #parallax_background
    #parallax_midground
      #parallax_foreground
        .centify
          %h1 Werewolf
          #moonphases
            %img.large#moon_large{:src => "/images/#{current_phase}-moon.png", :style => 'z-index:3'}

.hr
  #flourish
    %time
      .state{:title => 'Tonight'}
        Tonight
        %span.units{hidden} prepare&hellip;
      .state{:title => 'Next Week'}
        7
        %span.units{hidden} sleeps left

%article
  .centify
    %p.bold Summoned by the lunar cycle, wolves lurk in the darkness. While we sleep, they feast on our flesh. Month after month our numbers are savaged by the Beasts. Nobody deserves the fate bequeathed by them as it is to die a thousand deaths. They don't distinguish between women or children or the sick or the strong. Enough, brothers! No more. We must act first and lynch any who we suspect of turning. The souls of the saved shall forgive our injustices <span class="amp">&amp;</span> the Lord shall guide us through err. Come, join the hunt, lest you be of Beast yourself&hellip;

    %h2
      %span Township of
      Sydney
    
    %dl
      %dt When?
      %dd
        September 5th, 2009.
        7pm until late.
      %dt Where?
      %dd
        %p
          The University of Sydney Quadrangle.
          %a{:href => 'http://maps.google.com/maps/ms?ie=UTF8&hl=en&t=h&msa=0&msid=108825360390508758359.000470b60bb75c376f0e3&ll=-33.885807,151.189835&spn=0.008657,0.018153&z=16'} map
      %dt What to Bring?
      %dd
        %p Bring your own alcohol and food. Lawn chairs and insect repellant are a good idea too.
      %dt Get Involved
      %dd
        %p
          The Syd-Werewolf
          %a{:href => 'http://twitter.com/syd-werewolf'} Twitter account
          is where you'll find news and reminders about upcoming events.
      
